.social-links {
    position: relative;
    margin: 0;
    margin-right: 41px;
    padding: 0 40px;

    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    max-width: 220px;
    min-width: 164px;

    list-style: none;

    &::after {
        position: absolute;
        top: -7px;
        right: 0;

        display: block;
        width: 1px;
        height: 40px;

        background-color: $color-placeholder;

        content: "";
    }
}

.social-links__icon {
    fill: $color-placeholder;

    &:hover {
        fill: $color-main;
    }
}

@media (max-width: $mobile-max-width) {
    .social-links {
        margin: 0;
        margin-bottom: 20px;
        padding: 0;

        min-width: auto;

        &::after {
            display: none;
        }
    }
}
