// Типографика
$font-main: "Roboto", "Arial", sans-serif;

// Цвета
$color-bg: #fafafa;
$color-bg-secondery: #f0f0f0;
$color-placeholder: #bbc4d6;
$color-main: #768298;
$color-main-light: #ebebf1;
$color-btn: #34aadd;
$color-white: #ffffff;
$color-hover: #6680ae;
$color-link-hover: #34aadd;
$color-action: #f95a59;
$color-action-secondery: #fac300;
$color-hit: #dc2c53;
$color-best-price: #a7507b;
$color-border: #eaeaea;
$color-border-card: #ebebf1;
$color-orange: #ffca7b;
$color-brown: #b88437;
$color-title: #121920;

// Брейкпоинты
$desktop-max-width: 1440px;
$desktop-min-width: 1024px;

$tablet-max-width: 1023px;
$tablet-min-width: 768px;

$mobile-max-width: 767px;
$mobile-min-width: 370px;
